*,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
input,
select,
textarea {
	background-color: transparent;
	outline: none;
}
button {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: 0;
}
body {
	min-height: 100vh;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	background: #eee !important;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 30px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.form-signin .form-control:focus {
	z-index: 2;
}
.btn-login {
	width: 100%;
}
